{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'custom_css/packing_slips.css' %}">

    <div class="packing-slip-container">
        <form method="GET" action="{% url 'ready_to_ship'%}">
            {% for order, items in orders %}
                <div class="row mb-5 mt-5">
                    <div class="col-sm-11 offset-sm-1">
                        <p>
                            <span>Ship to:</span> <br>
                            <span class="shipping-info">
                                {{ order.name }} <br>
                                {{ order.address_line_1 }} <br>
                                {% if address_line_2 %}
                                    {{ order.address_line_2 }} <br>
                                {% endif %}
                                {{ order.city }}, {{ order.state }} {{ order.zip_code }}
                            </span>
                        </p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-10 offset-sm-1">
                        <h4>Thank you for shopping with MooseLoot.com</h4>
                        <span class="shipping-info">Order #{{ order.order_number }}</span>
                        <br>
                        <span>Shipped {{ order.shipping_method }}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-11 offset-sm-1">
                        <table class="nav-tabs nav-stacked table table-responsive table-sm">
                            <thead>
                                <tr>
                                    <th>Qty</th>
                                    <th>Name</th>
                                    <th>Set</th>
                                    <th>Language</th>
                                    <th>printing</th>
                                    <th>Condition</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.expansion }}</td>

                                        {% if item.language != "English" %}
                                            <td><strong>{{ item.language }}</strong></td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                        {% if item.printing == "Foil" %}
                                            <td><strong>{{ item.printing }}</strong></td>
                                        {% else %}
                                            <td>{{ item.printing }}</td>
                                        {% endif %}


                                        <td>{{ item.condition }}</td>
                                        <td>${{ item.price }}</td>
                                        <td>${{ item.total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-11 offset-sm-1">
                        <span class="shipping-info">Paid ${{ order.total_order_price }}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-11 offset-sm-1">
                        <p>
                            {{ note.data }}
                        </p>

                        <br>

                        <label>Check is out on Facebook and Twitter</label> <br>
                        <strong>Facebook.com/MooseLoot</strong> <br>
                        <strong>Twitter.com/MooseLoot</strong> <br>
                    </div>
                </div> <br>

                <div class="pagebreak"></div>

                <div class="row">
                    <div class="col-sm-11 offset-sm-1">
                        <div class="form-check">
                            <input name="ready_to_ship" type="checkbox" id="{{ order.order_number }}" class="form-check-input" value="{{ order.order_number }}">
                            <label class="form-check-label" for="{{ order.order_number }}">Ready to Ship</label>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <button type="submit" name="orders_ready_to_ship" class="btn btn-info btn-lg btn-block mb-5">CREATE SHIPPING LABELS</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}