{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'custom_css/packing_slips.css' %}">

    <div class="packing-slip-container">
        {% for order, items in orders %}
            <div class="row mt-1 mb-5">
                <div class="col-sm-11 offset-sm-1">
                    <p>
                        <span>Ship to:</span> <br>
                        <span class="shipping-info">
                            {{ order.name }} <br>
                            {{ order.address_line_1 }} <br>
                            {% if address_line_2 %}
                                {{ order.address_line_2 }} <br>
                            {% endif %}
                            {{ order.city }}, {{ order.state }} {{ order.zip_code }}
                        </span>

                    </p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-11 offset-sm-1">
                    <span class="shipping-info">Order #{{ order.order_number }}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-11 offset-sm-1">
                    <table class="nav-tabs nav-stacked table table-responsive table-sm">
                        <thead>
                            <tr>
                                <th>Qty</th>
                                <th>Name</th>
                                <th>Set</th>
                                <th>Language</th>
                                <th>printing</th>
                                <th>Condition</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.expansion }}</td>
                                    <td>{{ item.language }}</td>
                                    <td>{{ item.printing }}</td>
                                    <td>{{ item.condition }}</td>
                                    <td>${{ item.price }}</td>
                                    <td>${{ item.total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-11 offset-sm-1">
                    <span class="shipping-info">Paid ${{ order.total_order_price }}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-11 offset-sm-1">
                    <p>
                        {{ note.data }}
                    </p>
                </div>
            </div>

            <hr>
            <div class="pagebreak"></div>
        {% endfor %}
    </div>

{% endblock %}