{% extends 'home.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'custom_css/pull_sheet.css' %}">

    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h2 class="opaque-black-text">Pull Sheet Generated @ {{ time_created }}</h2>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12 mt-1 ml-1">
            <table class="nav-tabs nav-stacked table table-responsive table-lg">
                <tbody>
                    {% for card in cards %}
                        <tr>
                            <td><strong>{{ card.language }}</strong></td>
                            <td>{{ card.name }}</td>
                            <td>{{ card.expansion }}</td>
                            <td></td>
                            <td><span class="lg-font-bold">{{ card.quantity }}</span> {% if card.printing == "FOIL" %}
                                <span class="lg-font-bold">{{ card.printing }}</span> {% endif %}
                                {{ card.condition }}</td>

                            <td><span class="lg-font-bold">{{ card.quantity }}</span></td>

                            <td>
                                {% if card.printing == "FOIL" %}
                                    <span class="lg-font-bold">{{ card.printing }}</span>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </div>

{% endblock content %}