[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
amqp = "==2.3.2"
anyjson = "==0.3.3"
beautifulsoup4 = "==4.6.0"
billiard = "==3.5.0.5"
bs4 = "==0.0.1"
celery = "==4.2.1"
certifi = "==2018.11.29"
chardet = "==3.0.4"
cloudinary = "==1.20.0"
defusedxml = "==0.5.0"
Django = "==3.0.5"
django-admin-tools = "==0.8.1"
django-allauth = "==0.41.0"
django-celery-beat = "==2.0.0"
django-celery-results = "==1.0.1"
django-crispy-forms = "==1.9.0"
django-debug-toolbar = "==2.2"
django-heroku = "==0.2.0"
django-import-export = "==2.0.2"
django-ipware = "==2.1.0"
django-paypal = "==1.0.0"
djangorestframework = "==3.11.0"
django-simple-captcha = "==0.5.12"
django-simple-history = "==2.9.0"
dj-database-url = "==0.5.0"
gunicorn = "==19.7.1"
idna = "==2.7"
kombu = "==4.2.1"
lxml = "==4.4.1"
matplotlib = "==3.0.2"
mysqlclient = "==1.4.6"
mws = "==0.8.6"
numpy = "==1.16.0"
oauthlib = "==2.0.6"
pandas = "==0.24.1"
Pillow = "==5.0.0"
paypal-checkout-serversdk = "==1.0.1"
paypalhttp = "==1.0.0"
psycopg2-binary = "==2.8.4"
python-decouple = "==3.1"
python-memcached = "==1.59"
"python3-openid" = "==3.1.0"
pytz = "==2018.7"
requests = "==2.20.1"
requests-oauthlib = "==0.8.0"
selenium = "==3.141.0"
sqlparse = "==0.2.4"
simplejson = "==3.13.2"
stripe = "==1.79.0"
twilio = "==6.19.1"
"urllib3" = "==1.24.1"
vine = "==1.1.4"
whitenoise = "==5.0.1"


[dev-packages]
