{% load static %}
<div class="row mt-1">
    <div style="color: rgba(0, 0, 0, 0.6);" class="col-sm-3">
        Viewing {{ items.start_index }}-{{ items.end_index }} of {{ items.paginator.count }} results
    </div>
    <div class="col-sm-7"></div>
    <div class="col-sm-2">{% include 'pagination.html' %}</div>
</div>
<div class="">
    <table class="table table-sm">
        <tbody>
            {% for item in items %}
                {% for each in '12' %}
                    <tr>
                        <td>
                            <img style="max-height: 200px;" alt="{{ item.name }} image" class="img-thumbnail" src="{{ item.image_url }}">
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.expansion }}</td>
                        {% if each == '1' %}
                            <td>
                                <div class="text-center" style="background-color: yellow;">Foil</div>
                            </td>
                            <td>${{ item.foil_buylist_price }}</td>

                        {% else %}
                            <td>Normal</td>
                            <td>${{ item.normal_buylist_price }}</td>
                        {% endif %}

                        <td></td>
                        <td>
                            {% if each == '1' %}
                                <form id="formToSubmit-{{ item.product_id }}-foil">
                            {% else %}
                                <form id="formToSubmit-{{ item.product_id }}-normal">
                            {% endif %}
                                <fieldset>
                                    <div class="input-group mb-3">
                                        <input type="hidden" name="name" value="{{ item.name }}">
                                        <input type="hidden" name="expansion" value="{{ item.expansion }}">
                                        <input type="hidden" name="language" value="{{ item.language }}">

                                        {% if each == '1' %}
                                            <input name="quantity" style="max-width: 25%;" type="number" class="form-control" value=0
                                                   aria-describedby="{{ item.product_id }}" max="{{ item.foil_buylist_max_quantity }}">
                                            <input type="hidden" name="printing" value="Foil">
                                            <input type="hidden" name="price" value="{{ item.foil_buylist_price }}">
                                            <input type="hidden" name="max_quantity" value="{{ item.foil_buylist_max_quantity }}">
                                        {% else %}
                                            <input name="quantity" style="max-width: 25%;" type="number" class="form-control" value=0
                                                   aria-describedby="{{ item.product_id }}" max="{{ item.normal_buylist_max_quantity }}">
                                            <input type="hidden" name="printing" value="Normal">
                                            <input type="hidden" name="price" value="{{ item.normal_buylist_price }}">
                                        <input type="hidden" name="max_quantity" value="{{ item.normal_buylist_max_quantity }}">
                                        {% endif %}
                                        <div class="input-group-append">
                                            <span aria-describedby="k-{{ item.product_id }}" class="input-group-text" id="{{ item.product_id }}">
                                                {% if each == '1' %}
                                                    {{ item.foil_buylist_max_quantity }} wanted
                                                {% else %}
                                                    {{ item.normal_buylist_max_quantity }} wanted
                                                {% endif %}
                                            </span>

                                            <div class="input-group-append">
                                                <span class="input-group-text" id="k-{{ item.product_id }}">

                                                    {% if each == '1' %}
                                                        <button type="submit" class="btn-secondary submit-button" value="{{ item.product_id }}"
                                                                data-printing="foil" id="button-{{ item.product_id }}-Foil">
                                                            <i class="material-icons">add</i>
                                                        </button>
                                                    {% else %}
                                                        <button type="submit" class="btn-secondary submit-button" value="{{ item.product_id }}"
                                                                data-printing="normal" id="button-{{ item.product_id }}-Normal">
                                                            <i class="material-icons">add</i>
                                                        </button>
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% block script %}
<script src="{% static 'custom_js/get_cookie.js' %}"></script>
<script>
    $('.submit-button').click(function (event) {
        event.preventDefault();
        let cookie = getCookie('csrftoken');
        let productId = this.value;
        let printing = this.getAttribute('data-printing');
        let formData = $(`#formToSubmit-${productId}-${printing}`).serializeArray();
        let data = {};

        formData.forEach( function (input) {
            data[input.name] = input.value;
        })
        window.alert('Added to cart');
        $.ajax({
            url: `http://127.0.0.1:8000/buylist/add/${productId}/`,
            type: 'POST',

            headers: {
                'X-CSRFTOKEN': cookie,
            },

            data: data,

            success: function(data) {
                console.log(data.id);
                let id = "#" + data.id;
            },
        });
    })
</script>
{% endblock script %}
