
<div class="row">
    <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis a enim nec elementum. Vivamus pellentesque placerat justo, sed dignissim augue rutrum in. Maecenas a quam at nulla egestas maximus eu in sem. Nullam sodales dolor id pulvinar egestas. Aenean cursus, ante at blandit hendrerit, diam justo porttitor neque, at efficitur massa mi et diam.
    </p>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="main-title-wrap">
            <h2 class="title-font text-center">Clean</h2>
        </div>
        <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis a enim nec elementum. Vivamus pellentesque placerat justo, sed
            dignissim augue rutrum in.
        </span>
    </div>

    <div class="col-sm-3">
        <div class="main-title-wrap">
            <h2 class="title-font text-center">Played</h2>
        </div>
        <span>orem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis a enim nec elementum. Vivamus pellentesque placerat justo, sed
            dignissim augue rutrum in.</span>
    </div>

     <div class="col-sm-3">
        <div class="main-title-wrap">
            <h2 class="title-font text-center">Heavily Played</h2>
        </div>

        <span>orem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis a enim nec elementum. Vivamus pellentesque placerat justo, sed
            dignissim augue rutrum in.</span>
    </div>
</div>

<hr>

<div class="row condition-guide-div">
    <div class="col-sm-6">
        <h4 class="label">Non-foil Cards</h4>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Condition</th>
                    <th>Percentage</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Clean</td>
                    <td>100%</td>
                </tr>

                 <tr>
                    <td>Played</td>
                    <td>70%</td>
                </tr>

                <tr>
                    <td>Heavily Played</td>
                    <td>50%</td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="col-sm-6">
        <h4 class="label">Foil Cards</h4>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Condition</th>
                    <th>Percentage</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Clean</td>
                    <td>100%</td>
                </tr>

                 <tr>
                    <td>Played</td>
                    <td>50%</td>
                </tr>

                <tr>
                    <td>Heavily Played</td>
                    <td>30%</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>


