
<div class="row">
    <p>
       {{ grading_guide_instructions }}
    </p>
</div>

<div class="row">

    <div class="col-sm-3">
        <div class="main-title-wrap">
            <h2 class="title-font text-center">Clean</h2>
        </div>
        <span>{{ buylist_clean_condition_text }}</span>
    </div>

    <div class="col-sm-3">
        <div class="main-title-wrap">
            <h2 class="title-font text-center">Played</h2>
        </div>
        <span>{{ buylist_played_condition_text }}</span>
    </div>

    <div class="col-sm-3">
        <div class="main-title-wrap">
            <h2 class="title-font text-center">Heavily Played</h2>
        </div>
        <span>{{ buylist_heavily_played_condition_text }}</span>
    </div>

</div>

<hr>

<div class="row condition-guide-div">
    <div class="col-sm-6">
        <h4 class="label">Non-foil Cards</h4>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Condition</th>
                    <th>Percentage</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Clean</td>
                    <td>100%</td>
                </tr>

                 <tr>
                    <td>Played</td>
                    <td>70%</td>
                </tr>

                <tr>
                    <td>Heavily Played</td>
                    <td>50%</td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="col-sm-6">
        <h4 class="label">Foil Cards</h4>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Condition</th>
                    <th>Percentage</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Clean</td>
                    <td>100%</td>
                </tr>

                 <tr>
                    <td>Played</td>
                    <td>50%</td>
                </tr>

                <tr>
                    <td>Heavily Played</td>
                    <td>30%</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>


