{% extends 'home_base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'custom_css/cart.css' %}">

<div id="main-cart-data">

	<div class="row">
		<div class="col-sm-8 offset-sm-1 table-responsive">
			<table class="nav-pills nav-stacked table table table-hover table-sm">
				<thead class="thead-inverse">
					<tr class="header">
						<th>Language</th>
						<th>Name</th>
						<th>Set</th>
						<th>Price</th>
						<th>Qty.</th>
						<th>Total</th>
						<th></th>
					</tr>
				</thead>
					<tbody>
						{% for card in cart %}
                            <tr>
								<td>
									English
								</td>

								<td>
									<a>{{ card.product.name }}</a>
								</td>

								<td>
									{{ card.expansion }}
								</td>

							   <td>
								  ${{ card.price }}
							   </td>

							   <td>
								   <form action="{% url 'update_buylist_cart' card.product.id %}" method="post">
									   {{ card.product_product_id }}
										{% csrf_token %}
									   <input type="hidden" name="price" value="{{ card.price }}" >
									   <div class="input-group mb-3">
										   <input style="max-width: 25%" size="2" type="number" name="quantity" min="1" max="{{ card.max_quantity }}"
												  value="{{card.quantity}}" >
										   <div class="input-group-append">
											   <button  type="submit" class="btn btn-sm btn-outline-info">Update</button>
										   </div>
										   &nbsp;
										   <div class="input-group-append">
											   of {{ card.product.buylist_max_quantity }}
										   </div>
									   </div>
								   </form>
							   </td>

								<td>
									${{ card.total }}
								</td>

							   <td>
								   <form method="GET" action="{% url 'remove_from_buylist_cart' card.product.id %}">
									   <button type="submit" class="btn">
										   <i class="material-icons main-black">delete_forever</i>
									   </button>
								   </form>
							   </td>
							</tr>
						{% endfor %}
					</tbody>
			</table>
		</div>

		<div class="row">
			<div id="totalBox" class="col-sm-12 offset-sm-1">
				<div class="p-3">
					<h4>Subtotal: ${{ sub_total|floatformat:2 }}</h4>
				    <h4>Number of items: {{ length }}</h4>
				    <hr>
				    <form method="post" action="{% url 'buylist_confirm_info' %}">{% csrf_token %}
                        <div class="form-row">
                            <button class="btn btn-success btn-lg w-100 mb-1" name="checkout" value="check" type="submit">

                                  Checkout
                            </button>
                        </div>
					</form>
					<form method="GET" action="{% url 'clear_buylist_cart' %}">
						<div class="form-row">
                            <button class="btn btn-secondary btn-lg w-100" type="submit">Empty Cart</button>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}