{% extends 'home.html' %}


{% block content %}
<div class="mt-1 ml-3">
    <div class="row">
        <p>
            Buylist {{ order.buylist_number }} <br>
            <strong>{{ order.date_created }}</strong> <br>
            {{ order.email }} <br>
            {{ order.name }} <br>
            {{ order.address_line_1 }} {{ order.address_line_2 }} <br>
            {{ order.city }}, {{ order.state }} {{ order.zip_code }} <br>
            Payment Type: <strong>{{ order.payment_type }}</strong> {% if order.payment_type == 'paypal' %} {{ order.paypal_email }} {% endif %} <br>
            Buylist Status: <strong>{{ order.buylist_status }}</strong> <br>
            {% if order.notes %}
            <br> Seller Notes: <br>
            "{{ order.notes }}"
            {% endif %}
        </p>
    </div>

    <div class="row">
        <form method="POST" action="{% url 'check_buylist_order' order.buylist_number %}" onsubmit="return getConfirmation()">
            {% csrf_token %}
            <div class="form-inline mb-1">
                <button type="submit" name="cancel_buylist" value="cancel" class="btn btn-danger btn-sm mr-1">Cancel</button>
                <button type="submit" name="submit_buylist" value="submit" class="btn btn-success btn-sm mr-1">Submit</button>
                <button type="submit" name="mark_as_received" value="received" class="btn btn-info btn-sm mr-1">Mark as Received</button>
                {% if order.seller_review_grading %}
                    <button type="submit" name="mark_as_received" value="received" class="btn btn-info btn-sm">Awaiting Email Reply</button>
                {% endif %}
            </div>

            <table class="table table-sm table-borderless">
                <tbody>
                {% for item in items %}
                <tr>
                    {% if item.data.language != 'English' %}
                        <td><strong>{{ item.data.language }}</strong></td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    {% if item.data.printing == 'Foil' %}
                        <td><strong>{{ item.data.printing }}</strong></td>
                    {% else %}
                        <td></td>
                    {% endif%}
                    <td>
                        <input type="hidden" name="product_id" value="{{ item.data.product_id }}">
                        <input type="hidden" name="name" value="{{ item.data.name }}">
                        <input type="hidden" name="expansion" value="{{ item.data.expansion }}">
                        <input type="hidden" name="printing" value="{{ item.data.printing }}">
                        <input type="hidden" name="price" value="{{ item.data.price }}">
                        <input type="hidden" name="language" value="{{ item.data.language }}">
                        <input type="hidden" name="total" value="{{ item.data.total_price }}">
                        {{ item.data.expansion }}
                    </td>
                    <td>{{ item.data.name }}</td>
                    <td>
                        <div class="form-row">

                            <div class="form-inline">
                                <input type="number" class="form-control input-sm" name="clean" value="{{ item.clean.quantity }}"
                                       id="clean-{{ item.data.printing }}-{{ item.data.product_id }}">
                                <div class="input-group-append">
                                    <label class="input-group-text" for="clean-{{ item.data.printing }}-{{ item.data.product_id }}">
                                        cl
                                    </label>
                                </div>

                                <input type="number" class="form-control input-sm" name="played" value="{{ item.played.quantity }}"
                                       id="played-{{ item.data.printing }}-{{ item.data.product_id }}">
                                <div class="input-group-append">
                                    <label class="input-group-text" for="played-{{ item.data.printing }}-{{ item.data.product_id }}">
                                        pl
                                    </label>
                                </div>

                                <input type="number" class="form-control input-sm" name="heavily_played" value="{{ item.heavily_played.quantity }}"
                                       id="heavily-played-{{ item.data.printing }}-{{ item.data.product_id }}">
                                <div class="input-group-append">
                                    <label class="input-group-text" for="heavily-played-{{ item.data.printing }}-{{ item.data.product_id }}">
                                        hp
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="form-inline mt-1">
                <div id="dialog-confirm"></div>
                <button id="StatusChange" type="submit" name="cancel_buylist" value="cancel" class="btn btn-danger btn-sm mr-1">Cancel</button>
                <button type="submit" name="submit_buylist" value="submit" class="btn btn-success btn-sm mr-1">Submit</button>
                <button type="submit" name="mark_as_received" value="received" class="btn btn-info btn-sm mr-1">Mark as Received</button>
                {% if order.seller_review_grading %}
                    <button type="submit" name="mark_as_received" value="received" class="btn btn-info btn-sm">Awaiting Email Reply</button>
                {% endif %}
            </div>

        </form>
    </div>
</div>

{% endblock content %}

{% block script %}
    <script type = "text/javascript">
        function getConfirmation() {
            const retVal = confirm("Are you sure that you want to continue?");
            if( retVal === true ) {} else {
                return false;
           }
        }
    </script>
{% endblock script %}