{% extends "admin/change_list.html" %}
{% load staticfiles %}
{% block extrahead %}
<!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{% include 'inventory_charts.js' %}
{% endblock extrahead %}


{% block content %}

<div class="row">
	<div class="col-sm-12">

		<div class="col-sm-6">
            <canvas id="foils" width="" height=""></canvas>
        </div>

        <!-- <div class="col-sm-6">
            <canvas id="myChart6" width="" height=""></canvas>
        </div> -->

	</div>
</div>



    {{block.super}}
{% endblock content %}