{% extends 'buylist.html' %}
{% block content %}
{% include 'cart_style.html' %}


<div class="row">
	  	<div class="col-sm-5">
		<h1 style="color: royalblue;" id='title'>BUYLIST CART</h1>
    </div>
		</div></div>

			<div class="row">
				<div class="col-sm-2 col-sm-2"></div>
				<div class="inner col-sm-7 col-sm-7">
	<table style="color: lightgray;" class="nav nav-pills nav-stacked table table">
	<thead class="thead-inverse">
		<tr class="header">
		  <th id="n">Name</th>
		  <th id="p">Price</th>
		  <th>Qty.</th>
		  <th id="q">Total</th>
		  <th></th>
		</tr>
	</thead>

{% for card, price in cart %}
	<form action="{% url 'add_to_cart_buylist' card.product.id %}" method="post">
			{% csrf_token %}

	<tbody>
        <tr>
          <td>
            <h4 id="name"><a id="nameHead" href= '{{card.product.get_absolute_url}}'>{{card.product.name}}
            </h4></a>
            <p id="set">{{card.product.set_name}}</p>
            </td> 
           
           <td id="price"><strong>${{card.product.price|floatformat:2}}</strong></td>
           <td><input style="color: black;" id="box" size="3" type="number" name="quantity" min="1" max="8" value="{{card.quantity}}"></td>
           	<td><strong>${{price|floatformat:2}}</strong></td>
           <td>
          <button id="updateButton" type="submit">Update</button>
          <button id="trashButton" type="submit" formaction="{% url 'remove_from_cart_buylist' card.product.id %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
      	   </td> 

        </tr>
        </form> 
        </tbody>
         {% endfor %}
    
		</table>
		  

					
		</div>	

		<div class="row">
	<div id="totalBox" class="col-sm-2">
				<center><h3 id="cartTitle">Summary</h3></center>
				<hr>
        <h4>Subtotal: ${{sub_total|floatformat:2}}</h4>
				<h4>Number of items: {{length}}</h4>
				<hr>
				<center>
          <form action="" method="post">
                {% csrf_token %}
    				<button id="checkout" type="submit" formaction="{% url 'buylist_checkout' %}">Checkout&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
    				<button id="checkout" type="submit" formaction="{% url 'empty_cart_buylist' %}" style="background-color:gray">Empty Cart&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></center>
</div>		</form>        

</div>


{% endblock %} 