{% extends 'home.html' %}
{% load staticfiles %}



{% block set_list %}
{% include 'supply_style.html' %}

<div class="col-sm-3">
	<img id="supplyImage" src="{% static 'media/up Satin Tower Blue.png' %}" class="img-responsive center-block" />
	<b> <a href="{% url 'item' 'Ultra Pro Satin Tower Deck Boxes' %}">Ultra Pro - Satin Tower</a> </b>
<hr>
</div>


<div class="col-sm-3">
	<img id="supplyImage" src="{% static 'media/up Regular Deck Box Blue.png' %}" class="img-responsive center-block" />
	<b> <a href="{% url 'item' 'Ultra Pro Deck Boxes' %}">Ultra Pro - Standard</a> </b>
<hr>
</div>


<div class="col-sm-3">
	<img id="supplyImage" src="{% static 'media/ug Chroma Skin Blue 80.png' %}" class="img-responsive center-block" />
	<b> <a href="{% url 'item' 'Ultimate Guard Chroma Skin Deck Box 80' %}">Ultimate Guard - Chroma Skin 80+</a> </b>
<hr>
</div>


<div class="col-sm-3">
	<img id="supplyImage" src="{% static 'media/ug Chroma Skin Blue 100.png' %}" class="img-responsive center-block" />
	<b> <a href="{% url 'item' 'Ultimate Guard Chroma Skin Deck Box 100' %}">Ultimate Guard - Chroma Skin 100+</a> </b>
<hr>
</div>


<div class="col-sm-3">
	<img id="supplyImage" src="{% static 'media/ug Sidewinder Blue 80.png' %}" class="img-responsive center-block" />
	<b> <a href="{% url 'item' 'Ultimate Guard Sidewinder Deck Box 80' %}">Ultimate Guard - Sidewinder 80+</a> </b>
<hr>
</div>


<div class="col-sm-3">
	<img id="supplyImage" src="{% static 'media/ug Sidewinder Blue 100.png' %}" class="img-responsive center-block" />
	<b> <a href="{% url 'item' 'Ultimate Guard Sidewinder Deck Box 100' %}">Ultimate Guard - Sidewinder 100+</a> </b>
<hr>
</div>



{% endblock %}