{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class='row'>
	<div style="margin:auto;" class='col-sm-6 col-sm-offset-3'>
		<legend class="border-bottom mb-4">Login into your account</legend>
		
		{% if form %}
		<form style='padding: 1%;' method="POST" action="">{% csrf_token %}
			{{form|crispy}}
			<input type="submit" value="Login" class ='btn btn-success' />
			<small style="font-size: 16px" class="text-muted">&nbsp;
				Need an account? <a class="ml-2" href="{% url 'register' %}">Sign up here.</a>
			</small>
		</form>



	</div>
</div>

{% endif %}
{% endblock %}