{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class='row'>
	<div class='col-sm-6 offset-sm-3 form-wrapper-default'>
		{% if form %}
		<form style='padding: 1%;' method="POST" action="">{% csrf_token %}
			<fieldset>
				<legend class="border-bottom mb-4">Login into your account</legend>
				{{ form|crispy }}
			</fieldset>
			<input type="submit" name="user_login" value="Login" class ='btn btn-success' />
			<small style="font-size: 16px" class="text-muted">&nbsp;
				Need an account? <a class="ml-2" href="{% url 'register' %}">Sign up here.</a>
			</small>
		</form>

		<small><a class="ml-2" href="{% url 'reset_password' %}">Forgot Password</a></small>
	</div>
</div>

{% endif %}
{% endblock %}