{% load staticfiles %}
{% load crispy_forms_tags %}

<div class="col-sm-11">
    <small><a href="{% url 'buylist_cart' %}"><span id="shoppingCart" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></small>
  </div>
<div class="row">
    <div class="col-sm-12">
      <h2 style="color: white" id='title'> Welcome back {{user.username}}!</h2>
    </div>

</div>

<div style="color: white;" class="col-sm-6">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#cardList" aria-controls="cardList" role="tab" data-toggle="tab">Store Credit</a></li>
          <li role="presentation"><a href="#grading" aria-controls="grading" role="tab" data-toggle="tab">Wishlist</a></li>
          <li role="presentation"><a href="#mtg" aria-controls="mtg" role="tab" data-toggle="tab">Upcoming Events</a></li>
          <li role="presentation"><a href="#instructions" aria-controls="instructions" role="tab" data-toggle="tab">Update Profile Information</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div  role="tabpanel" class="tab-pane active" id="cardList">
            <div id="buylistCardFrame" class="col-sm-12">

            <table class="nav nav-pills nav-stacked table" id="myTable">
             
              <h3>Store Credit Balance: {{data.credit}}</h3>
              <h3>Commander Medals: {{data.medal}}</h3>
            </table>

          </div>            
        </div>
         
          <div role="tabpanel" class="tab-pane" id="grading">
            <div class="col-md-6">
              <table class="nav nav-pills nav-stacked table" id="myTable">
                <thead class="thead-inverse">
                  <tr class="header">
                    <th>Price Guide</th>
                    <th>NM</th>
                    <th>Played</th>
                    <th>Heavily Played</th>
                    <th>Damaged</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Less than $25</th>
                    <td>100%</td>
                    <th>80%</th>
                    <th>60%</th>
                    <th>30%</th>
                  </tr>
                  <tr>
                    <th>$25 - $99.99</th>
                    <td>100%</td>
                    <th>85%</th>
                    <th>70%</th>
                    <th>50%</th>
                  </tr>
                  <tr>
                    <th>$100+</th>
                    <td>100%</td>
                    <th>90%</th>
                    <th>75%</th>
                    <th>50%</th>
                  </tr>
                  <tr>
                    <th>Foils</th>
                    <td>100%</td>
                    <th>75%</th>
                    <th>50%</th>
                    <th>30%</th>
                  </tr>


                </tbody>
              </table></div>
          </div>
                        <div role="tabpanel" class="tab-pane" id="mtg">
            <img class="img-responsive" style="max-width: 40%; margin-top: 1%;" id="tradeMark" src="{% static 'img/Mtg Logo.png' %}">
            <p>
              <ul>
                <li><strong>Mythic Rare:</strong> $0.25 each</li>
                <li><strong>Rare:</strong> $0.08 each</li>
                <li><strong>Common / Uncommon:</strong> $4.00 per 1000 cards ($5.00 if organized by set)</li>
                <li><strong>Unstable:</strong> $6.00 per 1000 cards</li>
                <li><strong>Basic Land:</strong> $2.00 per 1000 cards</li>
                <hr>
                <li><strong>Foil Mythic Rares:</strong> $0.30 each</li>
                <li><strong>Foil Rare:</strong> $0.25 each</li>
                <li><strong>Foil Common / Uncommon:</strong> $0.05 each</li>
                <li><strong>Foil Basic Land:</strong> $0.25 each</li>
              </ul>
            </p>
          </div>



          <div role="tabpanel" class="tab-pane" id="instructions">
            <h3>Profile info</h3>
              <form style='padding: 1%;' method="POST" action="" enctype='multipart/form-data'>{% csrf_token %}

                {{user_form|crispy}}
                {{profile_form|crispy}}
                <input type="submit" value="Update" class ='btn btn-success' />
    
              </form>

          </div>


        </div>

      </div>    
      


  </div>
