{% extends 'home.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'profile_style.html' %}

<div style="margin-top:5%;">

	<nav>

		<div class="nav nav-tabs" id="nav-tab" role="tablist">

			<a class="nav-item nav-link active" id="nav-account-tab" data-toggle="tab" href="#nav-account" role="tab" aria-controls="nav-account"
			   aria-selected="true">
				Account</a>

			<a class="nav-item nav-link" id="nav-address-tab" data-toggle="tab" href="#nav-address" role="tab" aria-controls="nav-address"
			   aria-selected="false">
				Address</a>

			<a class="nav-item nav-link" id="nav-orders-tab" data-toggle="tab" href="#nav-orders" role="tab" aria-controls="nav-orders" aria-selected="false">
				Orders</a>

			<a class="nav-item nav-link" id="nav-wishlist-tab" data-toggle="tab" href="#nav-wishlist" role="tab" aria-controls="nav-wishlist" aria-selected="false">
			Wishlist</a>

			<a class="nav-item nav-link" id="nav-treasures-tab" data-toggle="tab" href="#nav-treasures" role="tab" aria-controls="nav-treasures"
			   aria-selected="false">
			Treasures</a>

	     </div>

	</nav>

	<div class="tab-content" id="nav-tabContent">

		<!-- Main Profile Information -->

		<div class="tab-pane fade show active" id="nav-account" role="tabpanel" aria-labelledby="nav-account-tab">

			<div class="row">

				<div class="col-sm-4">

					<table class="info-table">
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>

						</thead>

						<tbody>

							<tr>
								<td class="label">Username:</td>
								<td class="profile-data">{{user.username}}</td>
							</tr>

							<tr>
								<td class="label">Email:</td>
								<td class="profile-data">{{data.email}}</td>
							</tr>

							<tr>
								<td class="label">Store Credit:</td>
								<td class="profile-data">{{data.credit}}</td>
							</tr>

							<tr>
								<td class="label">Birthday:</td>
								<td class="profile-data">{{data.birth_date}}</td>
							</tr>

							{% if not request.POST %}
								<tr>
									<td></td>
									<td>

										<div style="margin-top:1%;justify:right;">
											<form method="POST" action="{% url 'profile' %}">
											{% csrf_token %}
												<input type="submit" name="update_page" value="Update" class="btn btn-success" >
											</form>
										</div>
									</td>
								</tr>
							{% endif %}
						</tbody>
					</table>


					{% if request.POST.update_page %}

					  <form style='padding: 1%;' method="POST" action="" enctype='multipart/form-data'>{% csrf_token %}
						  {{user_form|crispy}}

						<input type="submit" name="update" value="Update" class ='btn btn-success' />

					  </form>

					{% endif %}
				</div>

				<div class="col-sm-4">
					<table class="info-table">
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>

						</thead>

						<tbody>

							<tr>
								<td class="label">Address 1</td>
								<td class="profile-data">
									{{data.name}} <br>
									{{data.address_line_1}} {{address_line_2}} <br>
									{{data.city}}, {{data.state}} {{data.zip_code}}
								</td>
							</tr>

							{% if not request.POST %}
							<tr>
								<td></td>
								<td>
									<div style="margin-top:1%;margin-left:4%;">
										<form method="POST" action="{% url 'profile' %}">
										{% csrf_token %}
											<input type="submit" name="update_address" value="Edit" class="btn btn-success" >
										</form>
									</div>
								</td>
							</tr>
							{% endif %}
						</tbody>
					</table>

					{% if request.POST.update_address %}

					  <form style='padding: 1%;' method="POST" action="" enctype='multipart/form-data'>{% csrf_token %}
						  {{address_form|crispy}}

						<input type="submit" name="update_address" value="Update" class ='btn btn-success' />

					  </form>

					{% endif %}

					<table class="info-table">
					<thead>
						<tr>
							<th></th>
							<th></th>
						</tr>

					</thead>

					<tbody>

						<tr>
							<td class="label">Address 2</td>
							<td class="profile-data">
								{{data.name}} <br>
								{{data.address_line_1}} {{data.second.address_line_2}} <br>
								{{data.city}}, {{data.state}} {{data.zip_code}}
							</td>
						</tr>
						{% if not request.POST %}
							<tr>
								<td></td>
								<td>
									<div style="margin-top:1%;margin-left:4%;">
										<form method="POST" action="{% url 'profile' %}">
										{% csrf_token %}
											<input type="submit" name="update_second_address" value="Edit" class="btn btn-success" >
										</form>
									</div>
								</td>
							</tr>
						{% endif %}
					</tbody>
				</table>

				{% if request.POST.update_second_address %}

				  <form style='padding: 1%;' method="POST" action="" enctype='multipart/form-data'>{% csrf_token %}
					  {{address_form|crispy}}

					<input type="submit" name="update_second_address" value="Update" class ='btn btn-success' />

				  </form>

				{% endif %}

				</div>

				<div class="col-sm-4">



				</div>
			</div>

			<div role="tabpanel" class="tab-pane">



          	</div>

		</div>

		<!-- Address Tab -->

		<div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">

			<div>

			</div>

			<div role="tabpanel" class="tab-pane">



          	</div>

		</div>

		<div class="tab-pane fade" id="nav-orders" role="tabpanel" aria-labelledby="nav-orders-tab">Three</div>

		<div class="tab-pane fade" id="nav-wishlist" role="tabpanel" aria-labelledby="nav-wishlist-tab">Three</div>
		<div class="tab-pane fade" id="nav-treasures" role="tabpanel" aria-labelledby="nav-treasures-tab">Three</div>
	</div>

</div>
{% endblock %}