{% extends 'home.html' %}
{% load static %}

{% block content %}
{% include 'profile_style.html' %}
{% include 'defaults/form_wrapper.html' %}

<style>
	.profile-form{
		margin-left: 3%;
	}
</style>

<link href="{% static 'custom_css/profile.css' %}" rel="stylesheet" type="text/css">

<div style="margin-top: 5%">
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active" id="nav-account-tab" data-toggle="tab" href="#nav-account" role="tab" aria-controls="nav-account"
			   aria-selected="true">
				Account</a>

			<a class="nav-item nav-link" id="nav-orders-tab" data-toggle="tab" href="#nav-orders" role="tab" aria-controls="nav-orders" aria-selected="false">
				Orders</a>

			<a class="nav-item nav-link" id="nav-buylist-submissions-tab" data-toggle="tab" href="#nav-buylist-submissions" role="tab"
			   aria-controls="nav-buylist-submissions" aria-selected="false">
				Buylist Submissions
			</a>

			<a class="nav-item nav-link" id="nav-wishlist-tab" data-toggle="tab" href="#nav-wishlist" role="tab" aria-controls="nav-wishlist" aria-selected="false">
			Wishlist</a>

			<a class="nav-item nav-link" id="nav-restock-tab" data-toggle="tab" href="#nav-restock" role="tab" aria-controls="nav-restock"
			   aria-selected="false">
				Restock Alerts</a>

			<a class="nav-item nav-link" id="nav-treasures-tab" data-toggle="tab" href="#nav-treasures" role="tab" aria-controls="nav-treasures"
			   aria-selected="false">
			Treasures</a>

	     </div>

	</nav>

	<div class="tab-content" id="nav-tabContent">

		<!-- Main Profile Information -->

		<div class="tab-pane fade show active" id="nav-account" role="tabpanel" aria-labelledby="nav-account-tab">
			{% include 'users/profile_tabs/profile_account.html' %}
		</div>

		<div class="tab-pane fade" id="nav-orders" role="tabpanel" aria-labelledby="nav-orders-tab">
			{% include 'users/profile_tabs/profile_orders.html' %}
		</div>

		<div class="tab-pane fade" id="nav-buylist-submissions" role="tabpanel" aria-labelledby="nav-buylist-submissions-tab">
			{% include 'users/profile_tabs/buylist_submissions.html' %}
		</div>

		<div class="tab-pane fade" id="nav-wishlist" role="tabpanel" aria-labelledby="nav-wishlist-tab">
			{% include 'users/profile_tabs/profile_wishlist.html' %}
		</div>

		<div class="tab-pane fade" id="nav-restock" role="tabpanel" aria-labelledby="nav-restock-tab">
			{% include 'users/profile_tabs/profile_restock.html' %}
		</div>

		<div class="tab-pane fade" id="nav-treasures" role="tabpanel" aria-labelledby="nav-treasures-tab"></div>
	</div>
</div>

{% endblock %}

{% block script %}
<script>
	let url = window.location.href;
	let activeTab = url.substring(url.indexOf("#") + 1);
	//$('a[href="#'+ activeTab +'"]').tab('show');
	$(`#${activeTab}`).tab('show')
</script>
{% endblock script %}