{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block content %}

<style>

	.main-form{
		background-color: rgba(234, 237, 242);
  		border-radius: 15px;
  		border: 1px solid gray;
  		margin-top: 1%;
	}

</style>

<div class='row'>

	<div class="col-sm-3"></div>
	<div class='main-form col-sm-5 col-sm-offset-5'>
		{% if form %}

		<form style='padding: 1%;' method="POST" action="">{% csrf_token %}


			<div class="form-row">

				<div class="form-group col-sm-6">
					{{form.first_name|as_crispy_field}}
				</div>

				<div class="form-group col-sm-6">
					{{form.last_name|as_crispy_field}}
				</div>

			</div>

			<div class="form-row">

				<div class="form-group col-sm-6">
					{{form.email|as_crispy_field}}
				</div>

				<div class="form-group col-sm-6">
					{{form.username|as_crispy_field}}
				</div>

			</div>

			<div class="form-row">

				<div class="form-group col-sm-4">
					{{form.month|as_crispy_field}}
				</div>

				<div class="form-group col-sm-4">
					{{form.day|as_crispy_field}}
				</div>

				<div class="form-group col-sm-4">
					{{form.year|as_crispy_field}}
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-sm-12">
					{{form.password1|as_crispy_field}}
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-sm-12">
					{{form.password2|as_crispy_field}}
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-sm-12">
					{{form.captcha|as_crispy_field}}
				</div>
			</div>

			<input type="submit" value="Sign up now" class ='btn btn-success' />
			<small style="font-size: 16px" class="text-muted">&nbsp;
				Already have an account? <a class="ml-2" href="{% url 'login' %}">Login</a>
			</small>
		</form>

	</div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  var $j = jQuery.noConflict();
  $j( function() {
    $j( ".datepicker" ).datepicker({
    	hangeMonth: true,
      	changeYear: true,
    	yearRange: "1900:2020",
    });
  } );
  </script>






{% endif %}
{% endblock %}