{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if validlink %}
<div class='row'>
	<div style="background-color:white" class='col-sm-6 col-sm-offset-3'>   
		
		<form method="POST"> {% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Change Password</legend>
				{{form|crispy}}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-success" type="submit">Reset password</button>
		    </div>
		</form>

{% else %}
		<div style="background-color: white; color: black;">
			<p>
				The password reset link was invalid, possibly because it has already been used.
				Please request a new password reset.
			</p>
		</div>
</div>
	</div>
{% endif %}
{% endblock content %}