
.main-black{
    color: rgba(52, 58, 64, 1);
}

table{
    font-family: Catull BQ Regular;
}

h4 {
    color: rgba(0, 0, 0, 0.5) !important;
}

.hidden-dialog{
    display: none;
}

.card-info-popup-table{
    border-collapse: separate;
    border-spacing: 15px 0px;
}

.card-info-popup-data-label{
    color: rgba(0, 0, 0, 0.5);
}

.ui-autocomplete {
     z-index: 9999 !important;
}

.opaque-black-text{
    color: rgba(0, 0, 0, 0.5);
}

.opaque-black-background{
    background-color: rgba(0, 0, 0, 0.5);
}

.form-popup-tooltip{
    background-color: rgba(40, 167, 69, 0.9) !important;
    color: white !important;
    border-color: white !important;
    border-radius: 10px !important;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card-image{
    max-height: 100px;
}

.form-wrapper-default{
    background-color: rgba(230, 230, 230,0.2);
    border-radius: 15px;
    border: 1px solid lightgray;
    padding-top: 2%;
    padding-bottom: 2%;

}

.form-wrapper-default > form{
    max-width: 95%;
    margin: auto;
}

.default-padding-wrapper {
    padding: 10% !important;
}


