
#totalBox {
    position: static;
    color: rgb(80,80,80);
    top: 20%;
    right:5%;
    font-family: Catull BQ Regular;
    font-weight: bold;
    background-color: rgba(234, 237, 242,.2);
    border-radius: 15px;
    border: 1px solid lightgray;
}

#main-cart-data{
    margin-top: 3%;
}
