
.label {
    color: rgba(0, 0, 0, 0.5);
}

.profile-data{

}

.info-table{

    border-collapse: separate;
    border-spacing: 60px 10px;
}

#nav-tabContent{
    display: inline;
}

.form-check-label{

    text-decoration: underline;
}

.subscribe-title{

}
