
.form-box{
    display: flex;
    justify-content: space-between;
}

.related-box{
    border: 2px solid blue;
}

.image:hover{
    height: 300px
}


#imgbox{
    vertical-align : middle;
    position : absolute;
    border: 1px solid #999;
    background : #FFFFFF;
    filter: Alpha(Opacity=100);
    visibility : hidden;
    height : 200px;
    width : 200px;
    z-index : 50;
    overflow : hidden;
    text-align : center;
}

.nav-link{
    color: gray;
}

.main-display-table{
    margin-top: 5%;
}

.card-search-table{
    empty-cells: hide;
}

.advanced-search-form{

    }

.query-drop-down{


}

.advanced-search-between-inputs{
    color: rgba(0, 0, 0, 0.5);
}

.help-bubble{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}

#search-sidebar{
    padding-bottom: 2%;
    border-radius: 0px 0px 0px 0px;
}

#advanced-search-submit-button{
    margin-top:1%;
    display: none;
}

.search-page-mana-cost {
    display: flex;

}

