{% extends 'base.html' %}


{% block styles %}

<style type="text/css">

	#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 90%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    margin-bottom: 10px; /* Add some space below the input */
    margin-top: 10px;
    color: black;
}
	

	#myUL li a:hover:not(.header) {
    	background-color: #eee; /* Add a hover effect to all links, except for headers */
} 


	.formatDiv {
    color: white;
    background-color: rgba(66,67,68,.5);
  }

</style>

{% endblock %}



{% block content %}
<body>


	<h1 id='title'><span style='color:blue'>B</span><span style='color:red'>u</span><span style='color:orange'>y</span><span style='color:blue'>l</span><span style='color:green'>i</span><span style='color:red'>s</span><span style='color:orange'>t</span></h1>


	<div class="row">
		  <div class="formatDiv col-sm-2">

		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="bs-sidebar" id="sidebar">
			  <ul class="nav nav-pills nav-stacked", id='myUL'>
			 
					<center><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Find Set..."></center>
					<li><a href='/3rd-edition/'>3rd/Revised</a></li>
					<li><a href='/4th-edition/'>4th Edition</a></li>
					<li><a href='/5th-edition/'>5th Edition</a></li>
					<li><a href='/6th-edition/'>6th Edition</a></li>
					<li><a href='/7th-edition/'>7th Edition</a></li>
					<li><a href='/8th-edition/'>8th Edition</a></li>
					<li><a href='/9th-edition/'>9th Edition</a></li>
					<li><a href='/10th-edition/'>10th Edition</a></li>
					<li><a href='/aether-revolt/'>Aether Revolt</a></li>
					<li><a href='/alara-reborn/'>Alara Reborn</a></li>
					<li><a href='/alliances/'>Alliances</a></li>
					<li><a href='/amonkhet/'>Amonkhet</a></li>
					<li><a href='/antiquities/'>Antiquities</a></li>
					<li><a href='/apocalypse/'>Apocalypse</a></li>
					<li><a href='/arabian-nights/'>Arabian Nights</a></li>
					<li><a href='/avacyn-restored/'>Avacyn Restored</a></li>
					<li><a href='/battle-for-zendikar/'>Battle for Zendikar</a></li>
					<li><a href='/betrayers-of-kamigawa/'>Betrayers of Kamigawa</a></li>
					<li><a href='/born-of-the-gods/'>Born of the Gods</a></li>
					<li><a href='/champions-of-kamigawa/'>Champions of Kamigawa</a></li>
					<li><a href='/coldsnap/'>Coldsnap</a></li>
					<li><a href='/conflux/'>Conflux</a></li>
					<li><a href='/conspiracy/'>Conspiracy</a></li>
					<li><a href='/conspiracy-take-the-crown/'>Conspiracy: Take the Crown</a></li>
					<li><a href='/dark-ascension/'>Dark Ascension</a></li>
					<li><a href='/darksteel/'>Darksteel</a></li>
					<li><a href='/dissension/'>Dissension</a></li>
					<li><a href='/dragons-maze/'>Dragon's Maze</a></li>
					<li><a href='/dragons-of-tarkir/'>Dragons of Tarkir</a></li>
					<li><a href='/eldritch-moon/'>Eldritch Moon</a></li>
					<li><a href='/eternal-masters/'>Eternal Masters</a></li>
					<li><a href='/eventide/'>Eventide</a></li>
					<li><a href='/exodus/'>Exodus</a></li>
					<li><a href='/fallen-empire/'>Fallen Empires</a></li>
					<li><a href='/fate-reforged/'>Fate Reforged</a></li>
					<li><a href='/fifth-dawn/'>Fifth Dawn</a></li>
					<li><a href='/future-sight/'>Future Sight</a></li>
					<li><a href='/gatecrash/'>Gatecrash</a></li>
					<li><a href='/guildpact/'>Guildpact</a></li>
					<li><a href='/homelands/'>Homelands</a></li>
					<li><a href='/hour-of-devastation/'>Hour of Devastation</a></li>
					<li><a href='/ice-age/'>Ice Age</a></li>
					<li><a href='/iconic-masters/'>Iconic Masters</a></li>
					<li><a href='/invasion/'>Invasion</a></li>
					<li><a href='/innistrad/'>Innistrad</a></li>
					<li><a href='/ixalan/'>Ixalan</a></li>
					<li><a href='/journey-into-nyx/'>Journey into Nyx</a></li>
					<li><a href='/judgment/'>judgment</a></li>
					<li><a href='/kaladesh/'>Kaladesh</a></li>
					<li><a href='/legions/'>Legions</a></li>
					<li><a href='/khans-of-tarkir/'>Khans of Tarkir</a></li>
					<li><a href='/lorwyn/'>Lorwyn</a></li>
					<li><a href='/m10/'>Magic 2010</a></li>
					<li><a href='/m11/'>Magic 2011</a></li>
					<li><a href='/m12/'>Magic 2012</a></li>
					<li><a href='/m13/'>Magic 2013</a></li>
					<li><a href='/m14/'>Magic 2014</a></li>
					<li><a href='/m15/'>Magic 2015</a></li>
					<li><a href='/magic-origins/'>Magic Origins</a></li>
					<li><a href='/mercadian-masques/'>Mercadian Masques</a></li>
					<li><a href='/mirage/'>Mirage</a></li>
					<li><a href='/mirrodin/'>Mirrodin</a></li>
					<li><a href='/modern-masters/'>Modern Masters</a></li>
					<li><a href='/modern-masters-2015/'>Modern Masters 2015</a></li>
					<li><a href='/modern-masters-2017/'>Modern Masters 2017</a></li>
					<li><a href='/morningtide/'>Morningtide</a></li>
					<li><a href='/nemesis/'>Nemesis</a></li>
					<li><a href='/new-phyrexia/'>New Phyrexia</a></li>
					<li><a href='/oath-of-the-gatewatch/'>Oath of the Gatewatch</a></li>
					<li><a href='/odyssey/'>Odyssey</a></li>
					<li><a href='/onslaught/'>Onslaught</a></li>
					<li><a href='/gatecrash/'>Gatecrash</a></li>
					<li><a href='/planar-chaos/'>Planar Chaos</a></li>
					<li><a href='/planeshift/'>Planeshift</a></li>
					<li><a href='/prophecy/'>Prophecy</a></li>
					<li><a href='/ravnica/'>Ravnica</a></li>
					<li><a href='/return-to-ravnica/'>Return to Ravnica</a></li>
					<li><a href='/rise-of-the-eldrazi/'>Rise of the Eldrazi</a></li>
					<li><a href='/rivals-of-ixalan/'>Rivals of Ixalan</a></li>
					<li><a href='/saviors-of-kamigawa/'>Saviors of Kamigawa</a></li>
					<li><a href='/scars-of-mirrodin/'>Scars of Mirrodin</a></li>
					<li><a href='/scourge/'>Scourge</a></li>
					<li><a href='/shadowmoor/'>Shadowmoor</a></li>
					<li><a href='/shadows-over-innistrad/'>Shadows Over Innistrad</a></li>
					<li><a href='/shards-of-alara/'>Shards of Alara</a></li>
					<li><a href='/stronghold/'>Stronghold</a></li>
					<li><a href='/tempest/'>Tempest</a></li>
					<li><a href='/the-dark/'>The Dark</a></li>
					<li><a href='/theros/'>Theros</a></li>
					<li><a href='/time-spiral/'>Time Spiral</a></li>
					<li><a href='/timeshifted/'>Timeshifted</a></li>
					<li><a href='/torment/'>Torment</a></li>
					<li><a href='/urza-destiny/'>Urza's Destiny</a></li>
					<li><a href='/urza-legacy/'>Urza's Legacy</a></li>
					<li><a href='/urza-saga/'>Urza's Saga</a></li>
					<li><a href='/visions/'>Visions</a></li>
					<li><a href='/weatherlight/'>Weatherlight</a></li>
					<li><a href='/worldwake/'>Worldwake</a></li>
					<li><a href='/zendikar/'>Zendikar</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
</body>

{% endblock %}