<style type="text/css">
	
	#cardImage {
		position: static;
		max-height: 200px;
	}


	#qtyBox {
	width: 50px;
}


#x {
	margin-top: -3%;
	padding-bottom: 5px;
}

#popupFade {

}

#shoppingCart {
  font-size: 3em;
  margin-left: 92%;
}

#title {
  	font-family: Catull BQ Regular;
  	font-size: 75px;
  }

#buylistCardFrame {
	margin-top: 2%;
}

#buylistSearchBar {
	width: 70%;
	height: 33px;
	border-radius: 5px;
}

#buylistSearchButton {
	margin-top: -.5%;
}

#buylistInputFrame {
	margin-bottom: 2%;
}


</style>