<style type="text/css">

  #box{
      width:50px;
      text-align: center;
      height: 30px;
  }


  #set {
  }

  th {

  }

  #price {
    font-weight: bold;
  }

  #name {
	
  }

  #nameHead {
  }

  #title {
  	font-family: Catull BQ Regular;
  	font-size: 40px;
  	margin-bottom: 15%;
  	margin-left: 11%;
    color: royalblue;
  }


  th {
  	  	font-family: Catull BQ Regular;
  }

  #totalBox {
  	font-family: Catull BQ Regular;
  	font-weight: bold;
  	background-color: rgba(234, 237, 242);
  	border-radius: 15px;
  	border: 1px solid gray;
  	margin-left: 3%;
  }

  #checkout {
  	width: 95%;
  	height: 40%;
  	border-radius: 10px;
  	color: white;
  	background-color: #63bc0a;
  	display: inline-block;
  	padding: 10px;
  }

  h4 {
  }

  #cartTitle {
  	color: royalblue;
  }

  #dataRow {
     margin-top: 2%;
  }

  #dataBox {
       border: 3px solid lightgray;
       border-radius: 15px;
  }


#mainSupplyLogo {
  position: static;
  max-height: 100px;
}

#addOnRow {
  border: 2px solid lightgray;
  margin-bottom: 7%;
}

#addOnSmallPrint {
  margin-top: -15%;
  width: 80%;

}

#form {
  max-width: 80%;
}

 </style>