{% extends "home.html" %}
{% block set_list %}
{% include 'search_result_style.html' %}

		{% if error != '' %}
		<center>
			<div id="errorFrameOutsideFrame">
				<div id="errorFrame">
			      	<H3>"<span style="color: red;">{{error}}</span>" not found in our Database</H3>
			      	<h4>Please check your spelling</h4>
		        </div>
	        </div>
        </center?>
      	{% else %}
      	<iframe name="submit-frame" style="display: none"></iframe>



      	{% for product in products %}
      	{% if product.id != 'error' %}
            
                        
                      	<h4>{{product.name}}({{product.foil}}) - {{product.expansion}} - {{product.language}} - {{product.condition}}</h4>
     				            
                      

               
                   
                      
 
     	{% endif %}
     	{% endfor %}
     	{% endif %}

    


{% endblock %}