{% load staticfiles %}

<style type="text/css">
	
	#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
} 



#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    margin-bottom: 10px; /* Add some space below the input */
}


#title {
	font-size: 50px;
	font-family: Catull BQ Regular;
	margin-left: 10px;
}



#tradeMark {
	max-width:20%;
	margin-top: 10px;
}


#shoppingCart {
	font-size: 1em;
	margin-left: 70%;

}


#hotlistContainer {
	height: 300px;
	margin-bottom: 5px;
	border-radius: 15px;
}



#image {
    display: none;
}


#image2 {
    display: none;
    position: absolute;
	left:-50%;
	top: 2%;
	padding: 5px;
}
    
#text:hover + #image {
    display: block;

}

#text:hover + #image2 {
    display: block;

}

.cardFrame {
	position: absolute;
	left:80%;
	top: 2%;
	padding: 5px;
	max-height: 223px;
	max-width: 310px;
}

#text {
	font-family: Catull BQ Regular;
	font-size: 18px;
	margin-bottom: -.5%;

}

#searchBarAndButton {
	margin-top: 2%;
}

#searchBar {
	max-width: 500px;
	border: 2px solid gray;
}


#searchBarMaster {
	max-width: 600px;
	border: 2px solid gray;
}

#searchButton {
	margin-top: 50%;
}

#searchButtonMaster {
	position: static;
	margin-left: 160%;
	margin-bottom: 50%;
}

#searchButtonList {
	width: 75%;
	margin-bottom: 1%;
}

#searchBoxFrame {
	border: 2px solid gray;
	height: 600px;
}


#mainSupplyLogo {
	position: static;
	max-height: 100px;
}

#mainImg {
	position: static;
	max-width: 600px;
}


#searchAndButton {
	margin-top: 25%;
}

#addOnTitle {
	margin-top: -1%;
	font-weight: bold;
}


#instructionsFrame {
	border: 2px solid lightgray;
	padding: 0 10px 0px 10px;
	margin-bottom: 4%;
}

#listLabel {
	font-size: 130%;
}


#dropdownMenuButton {
	margin-bottom: 5%;
}

#menu {
	color: royalblue
}

#shoppingCart {
  font-size: 3em;
  margin-left: 92%;
}

.home-footer{

    background-color: #343a40;
    color: white;
}

</style>