{% extends 'home_base.html' %}

{% load static %}
{% load cloudinary %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'custom_css/home.css' %}">

{% if 'home' in request.path %}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                {% cloudinary main_slide.image class='slide-image d-block w-100' %}
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="title-font"><a href="#" style="color:rgba(255, 255, 255, 1);">{{ main_slide.text }}</a></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center active">
                    <h2 class="title-font">Hotlist</h2>
                </li>

               {% for hotlist_card in hotlist %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="#" class="list-group-item-action">{{ hotlist_card.name }}</a>
                        <span class="badge badge-secondary badge-pill">${{ hotlist_card.price }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="title-font" style="background-color: rgba(52, 58, 64, 1); border-radius: 10px; color: white;">
                <h2 class="text-center">Announcement Header</h2>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

                </div>
            </div>

            <div>
            </div>

        </div>

        <div class="col-sm-3">

            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center active">
                    <h2 class="title-font">Sick Deals</h2>
                </li>
nav
               {% for hotlist_card in hotlist %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="#" class="list-group-item-action">{{ hotlist_card.name }}</a>
                        <span class="badge badge-secondary badge-pill">${{ hotlist_card.price }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endif %}

{% endblock %}