{% extends 'home.html' %}
{% load staticfiles %}



{% block set_list %}
{% include 'supply_style.html' %}

{% for item in supplies %}

<div class="col-md-3">

	<div class="row">
    <div class="col-md-1"></div>
       
    </div>

	<img id="supplyImage" src="{{item.image.url}}" class="img-responsive" />
	<b>{{item.colors}} - ${{item.price}}</b>
	<br>    
	<b>{{item.specs}}</b>
	<br>
	<iframe name="submit-frame" style="display: none"></iframe>
	 <form action="{% url 'add_to_cart' item.id %}" method="post" target="submit-frame">{% csrf_token %}
          <input size="2" id='qtyBox' type="number" name="quantity" min="1" max="20">
           <button data-toggle="popover" data-animation="true"  data-content="Added to cart"  type="submit" id='button'>Add</button>
    </form>
</div>
{% endfor %}

{% endblock %}