{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'custom_css/navbar.css' %}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

  <!-- <a class="navbar-brand" href="{%url 'home'%}">MooseLoot</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <img alt="MooseLoot Logo" class="nav-image" style="max-height:50px;" src="{% static 'img/MooseLogo.png' %}">

    <ul class="nav navbar-nav">
        {% url 'home' as home %}

      {% if 'home' in request.path %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>

      {% else %}
        <li class="nav-item nav-item">
          <a class="nav-link" href="{% url 'home' %}" style="">Home</a>
        </li>
      {% endif %}


      <li class="nav-item">
         <a class="nav-link" href="{% url 'contact' %}">Buylist</a>
      </li>

       <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="suppliesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Supplies
        </a>
        <div class="dropdown-menu" aria-labelledby="suppliesDropdown">
          <div class="dropdown-divider"></div>
          <form method="GET" action="{% url 'supplies' %}">
            <button type="submit" class="dropdown-item btn" name="query" value="all">All Supplies</button>
            <button type="submit" class="dropdown-item btn" name="query" value="Card Sleeves">Sleeves</button>
          </form>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="expansionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Singles
        </a>
        <div class="dropdown-menu" aria-labelledby="expansionDropdown">
          <label class="dropdown-item">Sets may be loading...</label>
          <div class="dropdown-divider"></div>
          <form method="GET" action="{% url 'expansions' %}" id="expansion-dropdown-items">

          </form>
        </div>
      </li>

    </ul>

      <div class="d-flex flex-grow-1">
          <form class=" form-inline mr-2 my-auto w-100 d-inline-block order-1" method="GET" action="{% url 'search' %}">

            <div class="input-group">
              <input id="main-search-bar" class="form-control mr-sm-2" name="q" value="{{ request.GET.q }}" type="text" placeholder="Search"
                   aria-label="Search">

              <button id="main-search-button" class="btn btn-outline-light my-2 my-sm-0 border" type="submit">
                <i class="material-icons" id="main-search-icon">search</i>
              </button>
            </div>

          </form>
      </div>

    <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
        </li>
      {% if not request.user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>


        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">My Account</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>

        {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>

          <li class="nav-item">
            <a href="{%url 'cart' %}" class="cart-icon nav-link"><i class="material-icons">shopping_cart</i></a>
          </li>
    </ul>
  </div>

</nav>

<!-- Load autocomplete() function from jquery -->
<script src="{% static 'custom_js/jquery_autocomplete.js' %}"></script>

<script>

    $.ajax({
        method: "GET",
        url: "{% url 'card_info' %}",
        success: function(data){
            autocomplete(data.names, "#main-search-bar");
            const dropdown = document.getElementById("expansion-dropdown-items");
            data.expansions.forEach(function (expansion) {
              const link = document.createElement("button");
              link.setAttribute("class", "dropdown-item btn");
              link.setAttribute("type", "submit");
              link.setAttribute("value", expansion);
              link.setAttribute("name", "expansion");
              link.appendChild(document.createTextNode(expansion));
              dropdown.appendChild(link);
              dropdown.setAttribute("style", "overflow-y: scroll; height: 600px;");
            })
        },
    });

</script>
