{% load staticfiles %}

<style>
  .user-account-link{
    position: fixed;
    top: 0;
    right: 0;
  }

  .cart-icon{
    position: relative;
    top: 0;
    right: 0;
    color: white;
  }

  .nav-image{
  }

</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

  <img class="nav-image" style="max-height:50px;" src="{% static 'img/MooseLogo.png' %}">

  <!-- <a class="navbar-brand" href="{%url 'home'%}">MooseLoot</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        {% url 'home' as home %}

      <li {% if request.path == home %} class="nav-item active"> {% endif %}
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Sealed Product</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>


      <li>
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}">
          <input class="form-control mr-sm-2" name="q" value="{{request.GET.q}}" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">My Account</a>
      </li>

      {% if not request.user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>

      {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

      {% endif %}

    </ul>
    </div>

  <a href="{%url 'cart' %}" class="cart-icon"><i class="material-icons">shopping_cart</i></a>
</nav>