{% extends 'home.html' %}
{% load static %}

{%  block content %}

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <img id="" src="{% static 'img/youBlue.png' %}" class="img-responsive" />
    </div>

    <div class="col-sm-3">
        <img id="" src="{% static 'img/youOrange.png' %}" class="img-responsive" />
    </div>
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" style="background-color: rgba(255, 255, 255, .5); border-radius: 15px; border: 1px solid black;">

        <center>
            <h3>
                Your order is currently being processed. A confirmation email has been sent to your email address.
            </h3>
        </center>
    </div>

</div>


{% include 'events_rows.html' %}
{% endblock content %}