{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="row" style="margin-top: 5%;">
    <div class="col-12">
        <center>
            <div id="paypal-button-container"></div>
        </center>

    </div>
</div>


<script src="https://www.paypal.com/sdk/js?client-id=AeQOEmoEfAZov4p3r2FvIgF3CLCFJ96oMnxGc2nobxX7I8hLQgP67Yl4ULDX74mT_E68Ok1Zk_fQCV6p">

</script>

<script>

	var price = "{{total}}";
	var token = '{{csrf_token}}';

	paypal.Buttons({
	createOrder: function(data, actions) {

	  // Set up the transaction
	  return actions.order.create({
		purchase_units: [{
		  amount: {
			value: price
		  }
		}]
	  });
	},

	onApprove: function(data, actions) {

      // Capture the funds from the transaction
      return actions.order.capture().then(function(details) {

        // Show a success message to your buyer
        window.location.replace("{% url 'order_confirmation' %}");

        return fetch("{% url 'paypal_complete' name email %}", {
          method: 'post',
          headers: {
          	"X-CSRFToken": token,
            'content-type': 'application/json',
          },
          body: JSON.stringify({
            data: data,
          })
        });
      });
    },

	}).render('#paypal-button-container');

</script>
{% endblock content %}