{% load staticfiles %}

<div class="col-sm-1"></div>
<div class="col-sm-3 right-column">

<!-- MTG Hotlist -->

  <div class="list-group" style="text-align:center;">

      <h4 id="event-header" class="list-group-item active">Hotlist</h4>

      {% for card in hotlist %}

          <a href="#" class="list-group-item list-group-item-action">

          <img src="{% static 'img/flame.png' %}" alt="..." class="" style="float:left;max-height:20px;">
          <span>&nbsp;{{card.name}} ${{card.price}}&nbsp;</span>
          <img src="{% static 'img/flame.png' %}" alt="..." class="" style="float:right;max-height:20px;">

          </a>


      {% endfor %}
  </div>



    <!-- Upcoming Events tab -->
    <div class="list-group" style="margin-top:2%;">
      <h4 id="event-header" class="list-group-item active">Upcoming Events</h4>
      <a class="list-group-item list-group-item-action">
        <span><strong>Legacy Quest for Power</strong></span><br>
        July, 12, 2019<br>
        Tournament
      </a>
      <a class="list-group-item list-group-item-secondary list-group-item-action">Morbi leo risus</a>
      <a class="list-group-item list-group-item-secondary list-group-item-action">Porta ac consectetur ac</a>
      <a class="list-group-item list-group-item-secondary list-group-item-action">Vestibulum at eros</a>
    </div>

    <!-- Twitter Follow Button -->
    <div id="twitter-button" >
      <a href="https://twitter.com/MtgFirst?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large"
       data-show-screen-name="false" data-show-count="false">Follow @MtgFirst</a>
    </div>


    <!-- Twitter Posts Widget -->
    <a class="twitter-timeline" data-width="400" data-height="400" href="https://twitter.com/MTGFirst?ref_src=twsrc%5Etfw">Tweets by MTGFirst</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

