{% extends 'home.html' %}
{% load staticfiles %}
{% block set_list %}
{% include 'supply_style.html' %}

<center>
<div id="suppliesBackgroundFrame">	
	<div id="suppliesBackground">

		<div class="col-sm-3">
			<img id="supplyImage" src="{% static 'media/ds Art Draxis.png' %}" class="img-responsive center-block" />
			<b> <a href="{% url 'item' 'Dragon Shield Art Sleeves' %}">Dragon Shield - Art</a> </b>
		<hr>
		</div>



		<div class="col-sm-3">
			<img id="supplyImage" src="{% static 'media/ds Blue Matte.png' %}" class="img-responsive center-block" />
			<b> <a href="{% url 'item' 'Dragon Shield Matte Sleeves ' %}">Dragon Shield - Matte</a> </b>
		<hr>
		</div>


		<div class="col-sm-3">
			<img id="supplyImage" src="{% static 'media/ds Blue Classic.png' %}" class="img-responsive center-block" />
			<b> <a href="{% url 'item' 'Dragon Shield Classic Sleeves' %}">Dragon Shield - Classic</a> </b>
		<hr>
		</div>



		<div class="col-sm-3">
			<img id="supplyImage" src="{% static 'media/ds Perfect Fit Classic 100.png' %}" class="img-responsive center-block" />
			<b> <a href="{% url 'item' 'Dragon Shield Perfect Fit Sleeves' %}">Dragon Shield - Perfect Fit</a> </b>
		<hr>
		</div>



		<div class="col-sm-3">
			<img id="supplyImage" src="{% static 'media/up Eclipse Pacific Blue 100.png' %}" class="img-responsive center-block" />
			<b> <a href="{% url 'item' 'Ultra Pro Eclipse Sleeves 100' %}">Ultra Pro - Eclipse 100ct.</a> </b>
		<hr>
		</div>


		<div class="col-sm-3">
			<img id="supplyImage" src="{% static 'media/up Eclipse Blue 80.png' %}" class="img-responsive center-block" />
			<b> <a href="{% url 'item' 'Ultra Pro Eclipse Sleeves 80' %}">Ultra Pro - Eclipse 80ct.</a> </b>
		<hr>
		</div>


		<div class="col-md-3">
			<img id="supplyImage" src="{% static 'media/KMC Perfect Fit 100.png' %}" class="img-responsive center-block" />
			<b> <a href="{% url 'item' 'KMC Perfect Fit Sleeves' %}">KMC Perfect Fit</a> </b>
		<hr>
		</div>

	</div>
</div>
</center>

{% endblock %}