{% extends 'home.html' %}
{% load staticfiles %}



{% block set_list %}
{% include 'supply_style.html' %}

{% for item in supplies %}

<div class="col-md-3">

	<div class="row">
    <div class="col-md-1"></div>
        <form action="{% url 'add_to_cart' item.id %}" method="post">{% csrf_token %}
            <input size="2" id='qtyBox' type="number" name="quantity" min="1" max="">
            <button type="submit" id='button'>Add</button>
        </form>
    </div>


	<img id="supplyImage" src="{{item.image.url}}" class="img-responsive" />
	<b>{{item.brand}} {{item.specs}} - {{item.colors}}</b>
</div>
{% endfor %}

{% endblock %}