<style type="text/css">
	
.carousel-main {
    width: 80%;
    margin: auto;
}

.row-1 {
    margin-top: 1%;
}

.right-column {
    max-height: 200px;
    }

.row-2 {
    margin-top: 1%;
}

#twitter-button {
    margin-top: 3%;
}

#event-header {
    font-family: Sans-serif;
    font-size: 120%;
}

.gallery-scroll {
    border-style: solid;
    margin: auto;
    margin-top: 1%;
}

.gallery-images {
    max-height: 200px;
}

.image-text-block {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.caption {
    display: block;
    word-wrap: break-word;
}



</style>