<div class="row">
    <div class="col-sm-12 table-responsive">
        <h4 class="opaque-black-text mt-1">Manage your restock notifications here</h4>
        <hr>
        {% if not restock_list %}
            <P>Add items to your restock list from a product page</P>
        {% else %}
            <div class="list-group list-group-flush">
                {% for card in restock_list %}

                            <div class="list-group-item-action ml-3 mt-3">

                                <div class="form-check form-check-inline">

                                <label>{{ card.name }}</label>
                                </div>

                                {% if card.foil %}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input restock-inputs" type="checkbox" id="foil-input-{{ card.product_id }}" checked disabled>
                                        <label class="form-check-label" for="foil-input-{{ card.product_id }}">Foil</label>
                                    </div>
                                {% endif %}


                                {% if card.normal %}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input restock-inputs" type="checkbox" id="normal-input-{{ card.product_id }}" checked disabled>
                                        <label class="form-check-label" for="normal-input-{{ card.product_id }}">Normal</label>
                                    </div>
                                {% endif %}

                                {% if card.clean %}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input restock-inputs" type="checkbox" id="clean-input-{{ card.product_id }}" checked disabled>
                                        <label class="form-check-label" for="clean-input-{{ card.product_id }}">Clean</label>
                                    </div>
                                {% endif %}

                                {% if card.played %}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input restock-inputs" type="checkbox" id="played-input-{{ card.product_id }}" checked disabled>
                                        <label class="form-check-label" for="played-input-{{ card.product_id }}">Played</label>
                                    </div>
                                {% endif %}

                                {% if card.heavily_played %}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input restock-inputs" type="checkbox" id="heavily_played-input-{{ card.product_id }}" checked
                                               disabled>
                                        <label class="form-check-label" for="heavily_played-input-{{ card.product_id }}">Heavily Played</label>
                                    </div>

                                {% endif %}

                                 <div class="form-check form-check-inline">
                                    <button id="restock-submit-button-{{ card.product_id }}" class="btn btn-info btn-sm mr-1" type="button">Edit</button>

                                    <form method="GET" action="{% url 'restock_edit' %}">
                                        <input type="hidden" name="delete_restock_notification" value="{{ card.product_id }}">
                                        <button class="btn btn-secondary btn-sm" type="submit">Delete</button>
                                    </form>
                                 </div>
                            </div>

                    <div id="restock-submit-form-{{ card.product_id }}" title="Restock Variations">
                        <form method="GET" action="{% url 'restock_edit' %}">
                            <div class="form-group">
                                <div class="form-row">
                                    <label class="form-check-label opaque-black-text">Printing</label>
                                </div>
                                <div class="form-row">
                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="foil-restock-submit-{{ card.product_id }}" name="foil" value="foil">
                                        <label class="form-check-label" for="foil-restock-submit-{{ card.product_id }}">Foil</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="normal-restock-submit-{{ card.product_id }}" name="normal" value="normal">
                                        <label class="form-check-label" for="normal-restock-submit-{{ card.product_id }}">Normal</label>
                                    </div>
                                </div>

                                <hr>

                                 <div class="form-row">
                                    <label class="form-check-label opaque-black-text">Condition</label>
                                </div>

                                <div class="form-row">
                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="clean-restock-submit-{{ card.product_id }}" name="clean" value="clean">
                                        <label class="form-check-label" for="clean-restock-submit-{{ card.product_id }}">Clean</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="played-restock-submit-{{ card.product_id }}" name="played" value="played">
                                        <label class="form-check-label" for="played-restock-submit-{{ card.product_id }}">Played</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="heavily_played-restock-submit-{{ card.product_id }}" name="heavily_played"
                                               value="heavily_played">
                                        <label class="form-check-label" for="heavily_played-restock-submit-{{ card.product_id }}">Heavily Played</label>
                                    </div>
                                </div>

                                <hr>

                                <div class="form-row">
                                    <input type="hidden" name="restock_notice_change" value="{{ card.product_id }}">
                                    <button class="btn btn-info btn-sm" type="submit">Submit</button>
                                </div>

                            </div>
                        </form>
                    </div>

                    <script>
                        var textId = "restock-submit-form-{{ card.product_id }}";
                        var buttonId = "restock-submit-button-{{ card.product_id }}";
                        jqueryDialogBox("#" + textId, "#" + buttonId);
                    </script>

                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>