{% if not orders %}

    <h4>You haven't placed an order yet</h4>
    <hr>
    <p>
        Browse our extensive selection of singles to place your first order. Search for any card using the search bar above. Browse our
        <a href="{% url 'preorders' %}">preorders</a> page for upcoming products.
    </p>

{% else %}

    <div class="row">
        <div class="col-sm-12">
            <table class="nav-tabs nav-stacked table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Order Processed</th>
                        <th>Order Total</th>
                        <th>Order Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                <a href="#order-details-{{ order.order_number }}" data-toggle="collapse" class="active">
                                    {{ order.order_number }}
                                </a>
                                <div id="order-details-{{ order.order_number }}" class="collapse">
                                    <table class="nav-stacked table table-sm">

                                        <tbody>
                                            {% for item in order.items %}
                                                <tr>
                                                    <td >{{ item.language }}</td>
                                                    <td>{{ item.name }}</td>
                                                    <td>{{ item.expansion }}</td>
                                                    <td>{{ item.printing }}</td>
                                                    <td>{{ item.condition }}</td>
                                                    <td>{{ item.quantity }}</td>
                                                    <td>${{ item.price }}</td>
                                                    <td>${{ item.total_price }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td>{{ order.order_date }}</td>
                            <td>${{ order.total }}</td>
                            <td>{{ order.order_status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}